<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>July Market</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(Profile)}"/>

    <h2>Профиль</h2>
    <table class="table table-striped">
        <tr>
            <td>Фамилия</td>
            <td th:text="${user.getFirstName()}"/>
        </tr>
        <tr>
            <td>Имя</td>
            <td th:text="${user.getLastName()}"/>
        </tr>
        <tr>
            <td>Email</td>
            <td th:text="${user.getEmail()}"/>
        </tr>
        <tr>
            <td>Телефон</td>
            <td th:text="${user.getPhone()}"/>
        </tr>
        <tr>
            <td>Roles</td>
            <td th:text="${user.getRoles()}"/>
        </tr>
        <tr>
            <td>Block</td>
            <td th:text="${user.getIsLocked()}"/>
        </tr>
    </table>
</div>
</body>
</html>