<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>July Market</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(Users)}"/>

    <h2>Пользователи:</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Фамилия</td>
            <td>Имя</td>
            <td>Email</td>
            <td>Roles</td>
            <td>Блокировка</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u : ${usersService.findAllUsers()}">
            <td th:text="${u.getFirstName()}"></td>
            <td th:text="${u.getLastName()}"></td>
            <td th:text="${u.getEmail()}"></td>
            <td th:text="${u.getRoles()}"></td>
            <td><a th:href="@{'/users/block/' + ${u.getId()}}" th:text="${u.getIsLocked() ? 'Разблокировать' : 'Заблокировать'}"></a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>